#home ul {
  padding: 0px;
}

#home ul li {
  display: inline;
  list-style: none;
  float: left;
  padding: 5em;
}

.thumbnails {
    text-align: center;
}
.thumbnails .thumbnail{
    display: inline-block;
    margin: 0 5px;
}
